{% extends 'base.html.twig' %}

{% block css %}
	<!-- Custom styles -->
	<link href="ressources/css/index/index.css" rel="stylesheet"/>
{% endblock %}

{% block page_title %}
	<p>Hello
		{{ controller_name }}! ✅</p>
{% endblock %}

{% block main %}
	<div class="flexbox">

		<div class="card m-5" style="width: 22rem;">
			<div class="view overlay">
				<img src="http://everythinggirlslove.com/wp-content/uploads/2016/06/keys-1-edited-696x805.jpg" class="img-fluid" alt="">
				<a href="#">
					<div class="mask rgba-white-slight"></div>
				</a>
			</div>

			<div class="card-body">
				<h4 class="card-title">Ajout d'un locataire</h4>
				<p class="card-text">Lien direct pour un ajout rapide de locataire</p>
				<a href="#" class="btn btn-primary">C'est parti !</a>
			</div>
		</div>

		<div class="card m-5" style="width: 22rem;">
			<div class="view overlay">
				<img src="ressources/img/contract-signing.jpg" class="img-fluid" alt="">
				<a href="#">
					<div class="mask rgba-white-slight"></div>
				</a>
			</div>

			<div class="card-body">
				<h4 class="card-title">Ajout d'un contrat</h4>
				<p class="card-text">Lien direct pour un ajout rapide de nouveau contrat</p>
				<a href="#" class="btn btn-primary">C'est parti !</a>
			</div>
		</div>

		<div class="card m-5" style="width: 22rem;">
			<div class="view overlay">
				<img src="ressources/img/real-estate.jpg" class="img-fluid" alt="">
				<a href="#">
					<div class="mask rgba-white-slight"></div>
				</a>
			</div>

			<div class="card-body">
				<h4 class="card-title">Ajout d'un local</h4>
				<p class="card-text">Lien direct pour un ajout rapide de nouveau local</p>
				<a href="#" class="btn btn-primary">C'est parti !</a>
			</div>
		</div>

		<div class="card m-5" style="width: 22rem;">
			<div class="view overlay">
				<img src="ressources/img/paying.jpg" class="img-fluid" alt="">
				<a href="#">
					<div class="mask rgba-white-slight"></div>
				</a>
			</div>

			<div class="card-body">
				<h4 class="card-title">Consulter les paiements</h4>
				<p class="card-text">Lien direct pour la cosultation des paiements des loyers</p>
				<a href="#" class="btn btn-primary">C'est parti !</a>
			</div>
		</div>
		<!-- Grid column -->
	</div>
	<!-- Grid row -->

{% endblock %}
