{% extends 'base.html.twig' %}

{% block title %}Hello RecordController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% for record in records %}
        <tr>
	        <td>
	        	<a href="{{ path('getRecord', {'id': record.id}) }}">
	        		{{ record.tenant_id <=> record.local_id }}
	        	</a>
	        	<br>
	        </td>
        </tr>
    {% endfor %}

</div>
{% endblock %}
