/* Div wich includes all the forms of the page */
.form-wrapper {
  margin: 1em auto;
  font: 18px / 1.5 sans-serif;
}

/* Text input color (Override MDB) */
.md-form .form-control,
.caret {
  color: #e0e0e0 !important;
}

/* Placeholders and legends */
label,
.default-form legend {
  font-size: 0.8rem;
  color: #757575;
  font-style: italic;
}

/* Removal of the margin separating the input fields (Override MDB)  */
.md-form {
  margin-top: 0px !important;
}
