{% extends 'base.html.twig' %}

{% block title %}Hello paymentController!{% endblock %}

{% block main %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
	Page des paiements pour le dossier dont l'id est : {{ idRecord }}<br>
    {% for payment in payments %}
        <tr>
	        <td>
	        	<a href="{{ path('getPayment', {'id': payment.id}) }}">
	        		{{ payment.id }}
	        	</a>
	        	<br>
	        </td>
        </tr>
    {% endfor %}
</div>
{% endblock %}
