/* Div which includes what is contained by the "form" tag */
.form-wrapper {
  width: 95% !important;
}

/* Part which includes all the sub forms of the page */
form {
  display: flex;
  justify-content: space-between;
}

/* Div which is a wrapper for each sub form */
.sub-form-wrapper {
  width: 45%;
}

/* Puts a margin just below the legend */
legend {
  margin-bottom: 25px;
}

/* The guarantor form will be displayed with JS according to the user selection */
.guarantor-form {
  display: none;
}

/* Do not display the error message inside the label */
label > .invalid-feedback.d-block {
  display: none !important;
}
