/* Div wich includes all the forms of the page */
.form-wrapper {
  width: 95% !important;
}

/* Allow to display the form concerning the tenant and the
forms concerning the parents as a flexbox */
form,
.other-forms {
  display: flex;
  justify-content: space-between;
}

/* Margin between the parent choice and the forms related to the parents */
.choice-header {
  margin-bottom: 18px;
}

/* Does not, by default, display forms associated with parents. */
.other-forms fieldset {
  display: none;
}

/* Margin between the tenant and the parents */
.including-forms {
  margin-left: 45px;
}

/* Margin between the different forms + setting form size */
fieldset {
  margin-right: 18px;
  margin-left: 18px;
  width: 450px;
}

/* The tenant form should cover just under half of the main part of the page. */
.tenant {
  width: 40%;
}
